.wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .header {
    width: 100%;
  }

  .header__wrapper {
    border-bottom: 1px solid rgb(127, 132, 177);
    padding: 40px 0 30px;
  }

  .header__title {
    color: rgb(28, 16, 16);
  }




  .accordion__item {
    cursor: pointer;
    padding: 20px 0;
    border-bottom: 1px solid rgb(127, 132, 177);
  }

  .accordion__item label {
    cursor: pointer;
   }

  .accordion__title {
    display: flex;
    justify-content: space-between;
   }

  .accordion__image {
    display: block;
    height: 0px;
    margin: 15px auto;
    overflow: hidden;
    transition: height 1s ease;
  }

  .button {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url('../assets/svg/plus-solid.svg') no-repeat;
    cursor: pointer;
    visibility: hidden;
    transition: 0.3s;
  }

  .accordion__item input[type="radio"] {
    display: none;
  }

  .accordion__block:hover {
    color: rgba(6, 6, 240, 0.836);
  }

  .accordion__block:hover .button {
    visibility: visible;
  }

  .accordion__item:hover .accordion__image {
    height: 310px;
   }

   label:focus .accordion__imag {
    border: 2px solid antiquewhite;
   }

  label input[type="radio"]:checked +.accordion__title + .accordion__image {
    height: 310px;
   }

  .accordion__item input[type="radio"]:checked + .accordion__title .button {
     background: url('../assets/svg/xmark-solid.svg') no-repeat;
   }

   .accordion__item input[type="radio"]:checked + .accordion__title {
    color: rgba(6, 6, 240, 0.836);
  }




  @media (max-width: 1920px) {
    .header__title {
        font-size: 3rem;
      }
      .accordion__block {
        font-size: 2rem;
      }
  }

  @media (max-width: 820px) {
    .wrapper {
        max-width: 600px;
      }
    .header__title {
        font-size: 2rem;
      }
      .accordion__block {
        font-size: 1.5rem;
      }
      .accordion__image {
        height: 210px;
        width: 210px;
      }
      .accordion__item:hover .accordion__image {
        height: 210px;
       }
      label input[type="radio"]:checked +.accordion__title + .accordion__image {
        height: 210px;
       }
  }

  @media screen and (max-width: 320px) {
    .wrapper {
        max-width: 250px;
      }
    .header__title {
        font-size: 1.5rem;
      }
      .accordion__block {
        font-size: 1rem;
      }
      .accordion__image {
        height: 150px;
        width: 150px;
      }
      .accordion__item:hover .accordion__image {
        height: 150px;
       }
      label input[type="radio"]:checked +.accordion__title + .accordion__image {
        height: 150px;
       }
  }