@import url(./normalize.css);


body {
    background-color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    transition: 2s;
}

.wrapper {
    margin: 0 auto;
}

.header {
    width: 100%;
}

.header__wrapper {
    border-bottom: 0.05em solid rgb(127, 132, 177);
    padding: 2em 0 1.5em;
}

.header__title {
    color: rgb(28, 16, 16);
}

.accordion__item {
    cursor: pointer;
    padding: 0.5em 0;
    border-bottom: 0.05em solid rgb(127, 132, 177);
}

.accordion__title {
    display: flex;
    justify-content: space-between;
    color: #524A3A;
}

.accordion__image {
    display: block;
    height: 0vh;
    margin: 0.4em auto;
    overflow: hidden;
    transition: height 2s ease;
}

.button {
    display: inline-block;
    height: 1em;
    width: 1em;
    background: url('../assets/svg/plus-solid.svg') no-repeat;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.accordion__item input[type="radio"] {
    display: none;
}


.accordion__item input[type="radio"]:checked + .accordion__title .button {
    transform: rotate(45deg);
}

.accordion__item input[type="radio"]:checked + .accordion__title {
    color: #217CA3;
}

@media (max-width: 480px) {
    .wrapper {
        max-width: 62vw;
    }
    .header__title {
        font-size: 150%;
    }
    .accordion__block {
        font-size: 100%;
    }
    .accordion__item label input[type="radio"]:checked +.accordion__title + .accordion__image {
        height: 9.375em;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .wrapper {
        max-width: 73vw;
    }
    .header__title {
        font-size: 170%;
    }
    .accordion__block {
        font-size: 120%;
    }
    .accordion__item label input[type="radio"]:checked +.accordion__title + .accordion__image {
        height: 13.125em;
    }
}

@media (min-width: 1025px) {
    .wrapper {
        max-width: 50vw;
    }
    .header__title {
        font-size: 200%;
    }
    .accordion__block {
        font-size: 150%;
    }
    .accordion__item label input[type="radio"]:checked +.accordion__title + .accordion__image {
        height: 13.125em;
    }
}

@media (hover: hover) {
    .accordion__item {
        cursor: pointer;
    }
    .accordion__item label {
        cursor: pointer;
    }
    .accordion__block:hover .button {
        opacity: 1;
    }
    .accordion__item:hover .accordion__image {
        height: 13.125em;
    }
    .accordion__item:hover .button {
        opacity: 1;
        transform: rotate(45deg);
    }
    .accordion__item label:active .accordion__title{
        color: #F70025;
    }
    .accordion__item label:active .accordion__image{
        filter: brightness(0.5);
    }
    .accordion__item label:active {
        cursor:wait;
    }
    .accordion__block:hover .accordion__title{
        color: #217CA3;
    }
}